.checkbox{
    width: 1rem;
    height: 1rem;
    border: 0.1em solid #97A0A8;
    border-radius: 0.25em;
    display: inline;
}

.checkbox:checked{
    border: 2px solid #2337CC;
}

.checkbox-label{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: inline;
    padding: 0 5px;
}