.rbc-header{
   padding-top:20px;
   height:80px;
   border-bottom: none !important;
}
.rbc-event{
    border: none !important;
    border-radius: 8px 3px 3px 8px ;
    background-color: #3CD278 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto !important;
}

.rbc-timeslot-group{
    min-height: 72px !important;
    height: auto !important;
}