@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

* {
  font-family: 'Inter', sans-serif;
  @apply to-txt-primary;
}
body,html{
    @apply bg-secondary;
}
.border-b-3{
    border-bottom-width:3px ;
}

.css-1rhbuit-multiValue{
  background: #FFFFFF !important;
  border-radius: 25px !important;
  padding: 5px 15px !important;
  // padding-right: 4px !important;
  // padding-left: 3px !important;
  align-items: center !important;
}

.css-1okebmr-indicatorSeparator{
  display: none !important;
}

.css-xb97g8{
  width: 20px;
  height: 20px;
  border-radius: 30% !important;
  background-color: #97A0A8 !important;
  border-radius: 50% !important;
  cursor: pointer;
}

.css-xb97g8:hover{
  background-color: #646a6e !important;
}

.css-xb97g8 svg{
  fill: #FFFFFF !important;
}.css-xb97g8:hover svg{
  fill: #FFFFFF !important;
}