@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

* {
  font-family: 'Inter', sans-serif;
  @apply to-txt-primary;
}
body,html{
    @apply bg-secondary;
}
.border-b-3{
    border-bottom-width:3px ;
}

.css-1rhbuit-multiValue{
  background: #FFFFFF !important;
  border-radius: 25px !important;
  border:0.2px solid #949ca5;
}

.css-1okebmr-indicatorSeparator{
  display: none !important;
}

.css-xb97g8{
  padding:2px 8px !important;
  border-radius: 30% !important;
}

.css-xb97g8:hover{

}