@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body{
    background-color: black;
}

.max-w-48{
    max-width: 12rem;
}

.wrapper-class-name{
    fill: aquamarine;
    width: 50px;
}