@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

/* @import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* body{
    background-color: black;
} */


.wrapper-class-name{
    fill: aquamarine;
    width: 50px;
} */