@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* body{
    background-color: black;
} */


.wrapper-class-name{
    fill: aquamarine;
    width: 50px;
}